<!DOCTYPE html>
<html>
<head>
  <title>QaTestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_tag :div, :class => "row" do %>
  <%= content_tag :div, :class => "span1" do %>
    <!-- gutter -->
  <% end %>
  <%= content_tag :div, :class => "span11" do %>
    <%= yield %>
  <% end %>
<% end %>

</body>
</html>
